!!! 5
meta(charset='utf-8')
html
  head
    title IdeaMaps - Index

    //- link(rel='stylesheet/less', type='text/css', href='/less/wikinets-defaults.less')
    //- link(rel='stylesheet', type='text/css', href='/lib/VisualSearch/visualsearch-datauri.css', media='screen')
    //- link(rel="stylesheet", href="colorPicker.css", type="text/css")
    link(rel="stylesheet", type="text/css", href="/less/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    //- link(href="/lib/chardinjs.css", rel="stylesheet")
    //- link(rel="stylesheet", href="/less/typeahead.css", type="text/css")
    //- script(type='text/javascript', data-main="main", src="/lib/require.js") //loads main.js

  body
    #ideamaps
        h1.
            IdeaMaps
        form#formAddUser(name="create_ideamap",method="post",action="/create_ideamap")
            input#inputUserName(type="text", placeholder="ideamap name", name="ideamapname")
            button#btnSubmit(type="submit") submit

        ul
            each ideamap, i in ideamaps
                li
                    a(href="map/#{ideamap.slug}")= ideamap.name